/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.container {
  width: 75%;
  margin: 0 auto;
}

header {
  padding: 25px 0;
  position: absolute;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__content .logo img {
  width: 75px;
  height: 100px;
  position: absolute;
  left: 300px;
  top: 2px;
}
header .menu {
  position: absolute;
  right: 250px;
  top: 40px;
}
header .menu ul {
  list-style: none;
}

header .menu ul li {
  display: inline;
  padding: 0 25px;
}

header .menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
}

header .menu ul li a:hover {
  color: #0068ff;
}

header .menu ul li.active a {
  color: #0068ff;
}

/* carousel */
#carousel {
  background: linear-gradient(#e5ccc3, #6047df);
  display: flex;
  justify-content: center;
  align-items: center;
}
.animate__fadeIn {
  animation-delay: 1s;
}
#carousel .carousel__img img {
  margin-top: 100px;
  margin-left: 100px;
  width: 90%;
  height: 100%;
}

.carousel__content {
  margin-top: 350px;
  text-align: center;
  color: white;
}

.carousel__content p {
  font-size: 25px;
}

.carousel__content h1 {
  font-size: 70px;
}

.carousel__content button {
  padding: 12px 30px;
  text-transform: uppercase;
  color: white;
  background-color: #e62b4a;
  border: 1px solid #e62b4a;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.5s;
}

.carousel__content button:hover {
  background-color: #af2239;
}

.carousel__content .arrow__down {
  margin-top: 30px;
}

.carousel__content .arrow__down i {
  /* font-size: 30px; */
  animation-name: arrowDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* service */
.py-5 {
  padding: 5rem 0;
}
#service .animate__backInLeft {
  animation-delay: 1.25s;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title p:first-of-type {
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
}

.title h2 {
  font-size: 3rem;
  font-weight: 400;
}

.title p:last-of-type {
  color: gray;
  font-weight: bold;
  margin-top: 0.8rem;
}

#service {
  background: linear-gradient(#e5ccc3, #6047df);
  color: white;
}
#service .img img {
  width: 90%;
  height: 850px;
  margin-left: 100px;
}

.slider__content {
  display: flex;
}

.slider__content .item {
  background-color: white;
  color: gray;
  width: 214px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  position: relative;
}

.slider__content .item::after {
  content: "";
  width: 5px;
  height: 0;
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

.slider__content .item:hover::after {
  height: 100%;
}

.slider__content .item i {
  font-size: 3rem;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: rgb(133, 42, 42);
}

.slick-dots li.slick-active button:before {
  color: red;
}

/* Blog */
#blog {
  background: linear-gradient(#e5ccc3, #6047df);
}
#blog .title p:first-of-type {
  color: gray;
}
#blog .blog__content .blog__item .item-10 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

.blog__content {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.blog__content .blog__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__item.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog__item.item-10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog__item {
  position: relative;
}

.blog__overlay {
  background-color: #9a9b9a82;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  opacity: 0;
  transition: all 0.5s;
}

.blog__item:hover .blog__overlay {
  opacity: 1;
}

.blog__overlay-icon {
  position: absolute;
  right: 2rem;
}

.blog__overlay-icon i {
  background-color: white;
  padding: 0.6rem;
  transition: all 0.5s;
  transform: translateY(40px);
}

.blog__item:hover .blog__overlay-icon i {
  transform: translateY(0);
}

.blog__overlay-icon i:hover {
  background-color: black;
  color: white;
}

.blog__overlay-text {
  position: absolute;
  bottom: 2rem;
  transform: translateY(40px);
  transition: all 0.5s;
}

.blog__item:hover .blog__overlay-text {
  transform: translateY(0);
}

.blog__overlay-text p {
  color: #dcd7d7;
}

.blog__overlay-text h3 {
  color: white;
}

/* counter */
#counter {
  background-color: black;
  color: white;
}

.counter__content {
  display: flex;
  justify-content: space-between;
  text-align: 33.33%;
}

.counter__item p:first-of-type {
  font-size: 3rem;
}

.counter__item p:last-of-type {
  color: gray;
}

/* DIGITAL */
#digital {
  background-image: url("./../images/Thiết\ kế\ chưa\ có\ tên\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#digital .title h2 {
  color: black;
  font-weight: 1000;
}
#digital .title p {
  color: red;
  font-weight: 950;
}
#digital .title p:first-of-type {
  font-size: 30px;
}
#digital .title p:last-of-type {
  font-size: 20px;
}

#digital video {
  width: 100%;
}

/* Contact */

.contact__content {
  display: flex;
}

.content__maps {
  width: 60%;
}

.content__form {
  width: 40%;
}

.content__form form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.content__form form input,
.content__form form textarea {
  padding: 0.7rem;
  border: 1px solid gray;
  margin-bottom: 1.6rem;
}

.content__form form input[type="button"] {
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0;
  transition: all 0.5s;
  border: none;
}

.content__form form input[type="button"]:hover {
  background-color: pink;
  color: black;
}
.backToTop {
  background-color: #00000075;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  position: fixed;
  right: 20px;
  bottom: 20px;

  opacity: 0;
  visibility: hidden;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
@keyframes arrowDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
